@model List<CMS.Data.Entities.OrderDetail>

<h2>Chi tiết đơn hàng</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>OrderId</th>
        <th>ProductId</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.OrderId</td>
            <td>@item.ProductId</td>
            <td>@item.Quantity</td>
            <td>@item.UnitPrice</td>
        </tr>
    }
</table>