@model List<CMS.Data.Entities.Customer>

<h2>Danh sách khách hàng</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Họ tên</th>
        <th>Email</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FullName</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.Address</td>
        </tr>
    }
</table>